<div class="row position-relative">
<div class="container mt-5 col-md-6" style="max-width: 400px;">
  <h2 class="mb-4 text-center">Iniciar sesión</h2>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Usuario</label>
      <input
        id="email"
        type="text"
        name="email"
        [(ngModel)]="email"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        id="password"
        type="password"
        name="password"
        [(ngModel)]="password"
        class="form-control"
        required
      />
    </div>
    <div class="d-grid gap-3">
      <button type="submit" class="btn btn-primary">Ingresar</button>
      <div class="text-danger mt-2" *ngIf="error">{{ error }}</div> 
    </div>
  </form>
</div>

<div class="container mt-5 col-md-6 text-center align" style="max-width: 400px;">
    <h2 class="mb-4 text-center">Registrate pata adoptar y ayudar!</h2>
  <button type="button" class="btn btn-primary" routerLink="/registro" routerLinkActive="active">Registrarse</button>
</div>
</div>