<div class="container mt-5">
  <div class="text-center">
    <h1 class="mb-4">Bienvenidos a Riviera Rescue</h1>
    <img
      src="https://scontent.fclq2-1.fna.fbcdn.net/v/t39.30808-6/504466792_3028365617345690_8894992932023477768_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeEHZZjtttrJH0AfwVipynghc0oNw7TAzMtzSg3DtMDMy8oKm-fUee_RQA-omo4qX5C9Gge5YpSgwzU4PZtg3M9D&_nc_ohc=nPO5AZfy7QkQ7kNvwHgAHX0&_nc_oc=AdnUD-JXNmWJHCJUr7eIFCb-P9W02fjnA2gjpvEDOsk1wjQqi685YmHUYVjLqfA3_Tb3uUPY0OsSr4si2wsFAmyl&_nc_zt=23&_nc_ht=scontent.fclq2-1.fna&_nc_gid=qFawLQ9ywVMly0uu6xitKQ&oh=00_AfekWdC25H5oqhoQ2jRWgcGn3FCsySk7LyhFvKlpf7ZdNg&oe=6905A1F1"
      alt="Logo Riviera Rescue"
      class="img-fluid"
      style="width: 1000px"
    />
    <div class="bg-info-subtle p-4 rounded mt-4">
    <h3 class="mt-4">
      Un refugio lleno de amor y esperanza para nuestros peludos amigos.
    </h3>
    <p class="mt-4">
      Riviera Rescue Ac., es una asociación sin fines de lucro dedicada a
      rescatar, rehabilitar y poner en adopción perros abandonados y abusados
      que pasaron por situaciones extremas de negligencia o enfermedad. Se
      encuentra ubicada en Puerto Morelos, Quintana Roo y fue creada en el año
      2016. Al ser una asociación independiente iniciada por un entusiasta, solo
      cuenta con los recursos recaudados mediante donativos y actividades
      realizadas con fines altruistas, los cuales son destinados a la
      alimentación y recuperación de los animales rescatados. Riviera rescue AC.
      se encuentra conformada por apenas 10 personas quienes siempre están al
      cuidado y pendiente del lugar, así como voluntarios ocasionales que
      participan en el rescate y realización de actividades para recaudación de
      fondos.
    </p>
  </div>
  </div>

  <div class="row">
    <div class="col-md-6">
    <div>
      <h3 class="mt-4">Nuestra misión</h3>
      <p>
        Proteger y rescatar perros en situación de abandono o maltrato,
        brindándoles refugio, atención veterinaria y un ambiente amoroso
        mientras trabajamos activamente para encontrarles hogares permanentes y
        responsables. Nos comprometemos a fomentar la adopción consciente, la
        educación sobre el bienestar animal y la importancia de la
        esterilización, creando una sociedad más compasiva hacia los animales.
      </p>
    </div>

    <img
    src="https://scontent.fclq2-1.fna.fbcdn.net/v/t39.30808-6/482979566_2937183199797266_2133280478203303045_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHDyYsZd9iHyjVkpMt7KxVQl2KCWNqWv3uXYoJY2pa_e2OxPhStXNnzq-H37VCA-3S131vMcMNgtqVaxpm1beSj&_nc_ohc=yB_B1gaEA8gQ7kNvwHNj3r3&_nc_oc=AdnyLRyoVl7kyIO4AztLeYM88Fy6Dy_a7bofY3zvbzaYfTljIcwbzOqC-fIL1YLUcmn--oLd0IPLB5NiUpLxMM9I&_nc_zt=23&_nc_ht=scontent.fclq2-1.fna&_nc_gid=R71Fx05KEM2rqHlGeC6dbQ&oh=00_AfcTuF66yRcZqHPoRe-MqnwZwLP-H6zzXvgIyYz9d_hq0w&oe=690879A9"
    alt="Misión"
    class="img-fluid"
    style="max-width: 600px"
  />
  </div>

  <div class="col-md-6">
    <div>
      <h3 class="mt-4">Nuestra visión</h3>
      <p>
        Ser un referente en el rescate y rehabilitación de perros vulnerables,
        donde cada perro encuentre un hogar lleno de amor y cuidado. Aspiramos a
        reducir el número de perros callejeros y maltratados, promoviendo una
        cultura de respeto, adopción responsable y bienestar animal, donde todos
        los perros tengan la oportunidad de vivir dignamente.
      </p>
    </div>

    <img
      src="https://scontent.fclq2-1.fna.fbcdn.net/v/t1.6435-9/70300413_1363818113800457_4889103569598283776_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3a1ebe&_nc_eui2=AeFN2F5dL2oXwgvXil-x5n0tVIP3DWnEJ45Ug_cNacQnjmiT25r0qkxBliCv-bXw8-qeWeMnA-U24bHZIfvc7tLu&_nc_ohc=rYJLLhOcr-IQ7kNvwGVRGN7&_nc_oc=AdmXzskXIZ1K4iEFTUA--KKtJ9b4LZLqHkNrcGPdvaJTVubaTyEeaTqbDUKcOsMXGw3mQuoyTPki1N17xy4gb1i9&_nc_zt=23&_nc_ht=scontent.fclq2-1.fna&_nc_gid=awxQrLRhzMKClIEm2Ay-cA&oh=00_Afdjffow0i7FUab57YeFWPpO3Xhnxp1Ll49qIbAIYgAqgQ&oe=692A2656"
      alt="Se responsabiliza"
      class="img-fluid"
      style="max-width: 600px"
    />
  </div>
</div>
