<div class="container mt-5">
  <div class="text-center">
    <h1 class="mb-4">Bienvenidos a Riviera Rescue</h1>
    <img
      src="https://scontent.fclq2-1.fna.fbcdn.net/v/t39.30808-6/504466792_3028365617345690_8894992932023477768_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeEHZZjtttrJH0AfwVipynghc0oNw7TAzMtzSg3DtMDMy8oKm-fUee_RQA-omo4qX5C9Gge5YpSgwzU4PZtg3M9D&_nc_ohc=nPO5AZfy7QkQ7kNvwHgAHX0&_nc_oc=AdnUD-JXNmWJHCJUr7eIFCb-P9W02fjnA2gjpvEDOsk1wjQqi685YmHUYVjLqfA3_Tb3uUPY0OsSr4si2wsFAmyl&_nc_zt=23&_nc_ht=scontent.fclq2-1.fna&_nc_gid=qFawLQ9ywVMly0uu6xitKQ&oh=00_AfekWdC25H5oqhoQ2jRWgcGn3FCsySk7LyhFvKlpf7ZdNg&oe=6905A1F1"
      alt="Logo Riviera Rescue"
      class="img-fluid"
      style="width: 1000px"
    />
    <h3 class="mt-4">
      Un refugio lleno de amor y esperanza para nuestros peludos amigos.
    </h3>
    <p class="mt-4">
      Riviera Rescue Ac., es una asociación sin fines de lucro dedicada a
      rescatar, rehabilitar y poner en adopción perros abandonados y abusados
      que pasaron por situaciones extremas de negligencia o enfermedad. Se
      encuentra ubicada en Puerto Morelos, Quintana Roo y fue creada en el año
      2016. Al ser una asociación independiente iniciada por un entusiasta, solo
      cuenta con los recursos recaudados mediante donativos y actividades
      realizadas con fines altruistas, los cuales son destinados a la
      alimentación y recuperación de los animales rescatados. Riviera rescue AC.
      se encuentra conformada por apenas 10 personas quienes siempre están al
      cuidado y pendiente del lugar, así como voluntarios ocasionales que
      participan en el rescate y realización de actividades para recaudación de
      fondos.
    </p>
  </div>

  <div class="row">
    <img
      src="https://scontent.fclq2-1.fna.fbcdn.net/v/t39.30808-6/503386202_3022537277928524_6074927001183214956_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cf85f3&_nc_eui2=AeHC-1tysg8xH7rYOujVN9YvVhGtzogwh2BWEa3OiDCHYIIeMQsZS3SKStJPN8Guf0jf5imgvCTv0ZQboVCNEYRR&_nc_ohc=EvNzjpzT0FUQ7kNvwEdsUwM&_nc_oc=Adn5oR-IBLzr_fzI_lQ6bRmLyNnnLqeGt3T0dBvJ1SxfLyZxARJE4uLlqGTveMlPukLh60PvYViPCsEsZevjEBUV&_nc_zt=23&_nc_ht=scontent.fclq2-1.fna&_nc_gid=ETdHF-W30daWfYsZNldL2Q&oh=00_AffikwjfkOHqcrBwFdqD7lQsSvayhZAFlYEtO06zgF8_qw&oe=68FDCCF6"
      alt="Misión"
      class="img-fluid"
      style="max-width: 600px"
    />
    <div class="col-md-6">
      <h3 class="mt-4">Nuestra misión</h3>
      <p class="mt-4">
        Proteger y rescatar perros en situación de abandono o maltrato,
        brindándoles refugio, atención veterinaria y un ambiente amoroso
        mientras trabajamos activamente para encontrarles hogares permanentes y
        responsables. Nos comprometemos a fomentar la adopción consciente, la
        educación sobre el bienestar animal y la importancia de la
        esterilización, creando una sociedad más compasiva hacia los animales.
      </p>
    </div>

    <div class="col-md-6">
      <h3 class="mt-4">Nuestra visión</h3>
      <p>
        Ser un referente en el rescate y rehabilitación de perros vulnerables,
        donde cada perro encuentre un hogar lleno de amor y cuidado. Aspiramos a
        reducir el número de perros callejeros y maltratados, promoviendo una
        cultura de respeto, adopción responsable y bienestar animal, donde todos
        los perros tengan la oportunidad de vivir dignamente.
      </p>
    </div>

    <img
      src="https://scontent.fclq2-1.fna.fbcdn.net/v/t39.30808-6/476158832_918834343752386_3929474663751726543_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFUWWxGQSneXaNURl0n3kB6dWTIYpmCPJN1ZMhimYI8k_40I6E4dq-xvKAD4Cs7KqGDBjeUQUJra9_5LCLPITFz&_nc_ohc=aEOfzOzMSrsQ7kNvwEwsw5y&_nc_oc=AdkyoiPhfrrJFL0RdyJd6ZvahSOE0Q92Chs00Jdz_IyupI9xyEEbX7BM1MqtzPi_k79BIlP-TXVAYroCrS0F12ya&_nc_zt=23&_nc_ht=scontent.fclq2-1.fna&_nc_gid=ycjtbfihuG5Z_VMlWO425A&oh=00_AfdnSROkloHe7_rYKy0D7c41AAODKM8f5toJCPaNte6fOQ&oe=68FF0E79"
      alt="Se responsabiliza"
      class="img-fluid"
      style="max-width: 600px"
    />
  </div>
</div>
