<footer class="bg-info d-flex justify-content-between align-items-center p-3 fixed-bottom">
    <a class="navbar-brand ms-2 mb-0 text-white">RESCUE, REHABILITATE & REHOME!!!</a>
    <ul class="d-flex list-unstyled justify-content-center align-items-center gap-3 mb-0">
      <li>
        <a href="https://www.youtube.com/@rivierarescue5992">
        <img src="assets/youtube.png" alt="YouTube" width="32" height="32"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/rivierarescue/">
        <img src="assets/instagram.png" alt="Instagram" width="32" height="32"></a>
      </li>
      <li>
        <a href="https://www.facebook.com/rivierarescue">
        <img src="assets/facebook.png" alt="Facebook" width="32" height="32">
      </a>
      </li>
      <li>
        <a href="rivierarescue@gmail.com">
        <img src="assets/gmail.png" alt="Gmail" width="32" height="32">
        </a>
      </li>
    </ul>
  </footer>
